@media only screen and (max-width: 992px) {
  .restaurants {
    grid-template-columns: repeat(2, 49%);
    column-gap: 2%;
  }

  #restaurantDetail .detail-header {
    display: flex;
    flex-direction: column-reverse;
  }

  #restaurantDetail .detail-header .detail-image {
    height: 300px;
  }

  #restaurantDetail .detail-header .detail-info {
    align-items: center;
  }

  #restaurantDetail .detail-header .detail-info .info {
    left: 10%;
    right: 10%;
    top: 300px;
    padding: 10px;
  }

  #restaurantDetail .detail-header .detail-info .title {
    text-align: center;
  }

  #restaurantDetail .detail-header .detail-info p.description {
    display: none;
  }

  #restaurantDetail .detail-header .detail-info a {
    display: none;
  }

  #restaurantDetail .detail-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #restaurantDetail .detail-overview h1 {
    margin-bottom: 25px;
  }
}
  
@media only screen and (max-width: 576px) {
  .restaurants {
    grid-template-columns: auto;
  }

  .navbar #hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    z-index: 2;
    font-size: 24px;
    border: none;
    color: white;
    cursor: pointer;
    background: transparent;
  }

  .navbar-nav {
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: -250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    transition: transform 0.3s ease-in-out;
    background-color: var(--cream);
  }

  .navbar-nav.open {
    transform: translate(-250px, 0);
  }
  
  .navbar-nav a {
    color: black;
    line-height: 50px;
  }

  #restaurantDetail {
    width: 100%;
    max-width: 100vw;
  }

  #restaurantDetail .detail-header .detail-info .title {
    font-size: 46px;
  }

  #restaurantDetail .detail-header .detail-info {
    padding-inline: 50px;
    padding-bottom: 50px;
  }

  #restaurantDetail .detail-header .detail-info .info {
    left: 2%;
    right: 2%;
    top: 280px;
    grid-template-columns: auto auto;
    height: auto;
  }

  #restaurantDetail .detail-menu .menu {
    grid-template-columns: auto;
    row-gap: 20px;
  }  

  #restaurantDetail .detail-menu .menu-food h3, #restaurantDetail .detail-menu .menu-drink h3 {
    width: 90vw;
  }

  #restaurantDetail .detail-menu .menu-food ul, #restaurantDetail .detail-menu .menu-drink ul {
    width: 90vw;
  }
}
