@media only screen and (max-width: 992px) {
  .restaurants {
    grid-template-columns: repeat(2, 45%);
  }
}
  
@media only screen and (max-width: 576px) {
  .restaurants {
    grid-template-columns: auto;
  }

  .navbar #hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    z-index: 2;
    font-size: 24px;
    border: none;
    color: white;
    cursor: pointer;
    background: transparent;
    z-index: 999;
  }

  .navbar-nav {
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: -250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    transition: transform 0.3s ease-in-out;
    background-color: var(--cream);
    z-index: 998;
  }

  .navbar-nav.open {
    transform: translate(-250px, 0);
  }
  
  .navbar-nav a {
    color: black;
    line-height: 50px;
  }

  #restaurantDetail .detail-header {
    grid-template-columns: auto;
  }

  #restaurantDetail {
    padding-top: 0;
  }
}
